@model VisualiserWebProject.Models.Test

@{
    ViewBag.Title = "TestDashboard";
}

<h1>@Model.Module.moduleCode - @Model.testTitle</h1>

<div id="testDashContainer">
    <div id="topMiniDash">
        <div id="marks"></div>
        <div id="drilldownChart"></div>
        <div id="attempts"></div>
    </div>

    <div id="barchart">

    </div>

    <div id="tableContainer">

    </div>
</div>