body {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}


/*For tables*/

/*Divider for sidenav*/
.bottom-border-divider {
    border-bottom: 1px solid black;
}

.quick-link {
    display: block;
}

.full-length-div {
    height: 80vh;
}

.bottom {
    position: absolute;
    bottom: 0;
    width:100%;
    word-break: break-word;
    word-wrap: break-word;
}

#head-info {
    height: 20vh;
    width: 100vw;
    display: inline-flex;
}

#imgContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex: 1;
}

#logo {
    max-height: 100%;
    max-width: 100%;
}

#userInfo {
    width: 100%;
    height: 100%;
    display: block;
    flex: 1;
    align-content: end;
}