@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Credit for Icon Usage</p>
<p><a href="https://icons8.com/icon/3439/about">About</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></p>
<p>
    <a href="https://icons8.com/icon/1090/enter">log in</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</p>
<p>
    <a href="https://icons8.com/icon/3/add-user-male">Register</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</p>
<p>
    <a href="https://www.flaticon.com/free-icons/multiple-choice" title="multiple choice icons">Multiple choice icons created by Freepik - Flaticon</a>
</p>
<p>
    <a href="https://www.flaticon.com/free-icons/binder" title="binder icons">Binder icons created by Pixel perfect - Flaticon</a>
</p>
<p>
    <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a>
</p>
<p>
    <a href="https://www.flaticon.com/free-icons/settings" title="settings icons">Settings icons created by Gregor Cresnar Premium - Flaticon</a>
</p>
<p><a href="https://www.flaticon.com/free-icons/home-button" title="home button icons">Home button icons created by Freepik - Flaticon</a></p>
<p>
    <a href="https://www.flaticon.com/free-icons/add-user" title="add-user icons">Add-user icons created by Good Ware - Flaticon</a>
</p>
<p><a href="https://www.flaticon.com/free-icons/question" title="question icons">Question icons created by Freepik - Flaticon</a></p>
<p><a href="https://www.flaticon.com/free-icons/evaluation" title="evaluation icons">Evaluation icons created by Freepik - Flaticon</a></p>
<p><a href="https://www.flaticon.com/free-icons/quiz" title="quiz icons">Quiz icons created by Freepik - Flaticon</a></p>.
<p><a href="https://www.flaticon.com/free-icons/create" title="create icons">Create icons created by Freepik - Flaticon</a></p>
