@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="padding-top: 5px; border-radius: 5px; margin-top: 5px">
    <h1>Visualisation and Analysis of Quiz Responses</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p>
        The difficulty is calculated as the proportion of students who got the question correct and the discrimination index by calculating
        the number of students in the upper-scoring group who got the question correct versus those in the lower-scoring group who got the
        question correct as a proportion. The guidelines for setting the threshold for the difficulty index and discrimination index are included below.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Difficulty Index</h3>
        <table border="1">
            <thead>
                <tr>
                    <th>Score Range</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0.95-1.0</td>
                    <td>Too easy</td>
                </tr>
                <tr>
                    <td>0.60-0.95</td>
                    <td>Typical</td>
                </tr>
                <tr>
                    <td>0.40-0.60</td>
                    <td>Hard</td>
                </tr>
                <tr>
                    <td>&lt;0.40</td>
                    <td>Too hard</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h2>Discrimination Index</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Score Range</th>
                    <th>Evaluation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0.20+</td>
                    <td>Good item; smarter examinees tend to get the item correct</td>
                </tr>
                <tr>
                    <td>0.10-0.20</td>
                    <td>OK item; but probably review it</td>
                </tr>
                <tr>
                    <td>0.0-0.10</td>
                    <td>Marginal item quality; should probably be revised or replaced</td>
                </tr>
                <tr>
                    <td>&lt;0.0</td>
                    <td>Terrible item; replace it</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h2>Project Details</h2>
        <p>
            The use of the Design Science Research methodology split the research into a literature review, an interview with the
            proposer of the project, and research into existing systems. After the research was conducted, the design and implementation
            of an artefact to analyse and visualise data was done.
        </p>
        <p>
            This artefact was evaluated using A/B testing against an existing system, the results of which showed a positive sentiment and
            good usability for the artefact created and, from feedback, it was decided to be a suitable solution to the problem.
        </p>
        <p>Keywords: Moodle, Visualisation, Item Analysis, Web Design</p>
        <p>ACM Computing Classification System category: Human-centered computing with specific regard to Empirical studies in visualization.</p>
    </div>
</div>