
@{
    ViewBag.Title = "Dashboard";
}

<h2>Home</h2>

<div class="">

    @* Quick links *@



    @* Lastest Tests *@
    <div>
        <div class="col-lg-3">

        </div>
        <div class="col-lg-3">

        </div>
        <div class="col-lg-3">

        </div>
    </div>
</div>
