
@{
    ViewBag.Title = "Dashboard";
}

<h2>Home</h2>

<div class="">

    @* Quick links *@

    <div width="80%">
        <span class="quick-link" onclick="location.href='@Url.Action("Index","Home")'"><img src="~/Content/Images/Icons/icons8-home-16.png" alt="Home Icon" /><a>Home</a></span>
        <span class="quick-link" onclick="location.href='@Url.Action("About","Home")'"><img src="~/Content/Images/Icons/icons8-about-16.png" alt="About Icon" /><a>About</a></span>
    </div>

    @* Lastest Tests *@
    <div>
        <div class="col-lg-3">

        </div>
        <div class="col-lg-3">

        </div>
        <div class="col-lg-3">

        </div>
    </div>
</div>
