
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div style="width:100%">

    @* Quick links *@
    <table width="100%" style="align-self: center">
        <tr><th colspan="4">Quick Links</th></tr>
        <tr>
            <td onclick="location.href='@Url.Action("Index","Modules")'" class="text-center">
                <img src="~/Content/Images/Icons/binders-color.png" style="max-width: 15vw" alt="Module Icon" />
                <p style="font-weight: bold">Modules</p>
            </td>
            <td onclick="location.href='@Url.Action("Index","Tests")'" class="text-center">
                <img src="~/Content/Images/Icons/checklist-color.png" style="max-width: 15vw" alt="Test Icon" />
                <p style="font-weight: bold">Tests</p>
            </td>
            <td onclick="location.href='@Url.Action("Index","Questions")'" class="text-center">
                <img src="~/Content/Images/Icons/option-color.png" style="max-width: 15vw" alt="Question Icon" />
                <p style="font-weight: bold">Questions</p>
            </td>
        </tr>
    </table>


</div>
<hr />


   
<div>
    <h4>New Test</h4>
    <div id="newtestbtn" onclick="location.href='@Url.Action("AddNewTest","Main")'">
        <img src="~/Content/Images/Icons/new-file.png" style="max-width: 5vw" alt="Question Icon" />
        <p style="font-weight: bold; padding: 10px">Add a New Test from a Moodle Report</p>
    </div>
    @* Lastest Tests *@
    @*<h3>Latest Tests</h3>
        <div class="col-lg-4" id="Module1Div">
            <h4 id="Module1H">*Module 1*</h4>
        </div>
        <div class="col-lg-4" id="Module2Div">
            <h4 id="Module2H">*Module 2*</h4>

        </div>
        <div class="col-lg-4" id="Module3Div">
            <h4 id="Module3H">*Module 3*</h4>

        </div>*@
</div>
